header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #83bebe;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 1rem 2rem;
}

#logo-header{
    width: 3rem;
}

#username{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* NAV */

nav{
    background: #0f746e;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: none;
}

nav.activo{
    display: flex;
}

@media (max-width: 1050px)
{
    nav{
        flex-direction: column;
    }
}

/* MENU HAMBURGUESA */

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger:hover{
    cursor: pointer;
}

.hamburger.hactivo .hline:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.hactivo .hline:nth-child(2){
    opacity: 0;
}

.hamburger.hactivo .hline:nth-child(3){
    transform: rotate(-45deg) translate(5px, -5px);
}

.hline{
    width: 20px;
    height: 2px;
    background: rgb(39, 39, 39);
}

@media (max-width: 1050px)
{
    nav{
        flex-direction: column;
    }
}

/* BOTONES LOGIN Y SIGN OUT */

.login-button{
    padding: 0.4rem 1rem;
    border-radius: 4px;
    background: rgb(143, 251, 255);
    text-decoration: none;
    color: rgb(17, 17, 17);
    text-align: center;
}

.login-button:hover{
    cursor: pointer;
    background: rgb(83, 133, 134);
}

.signout-button{
    padding: 0.4rem 1rem;
    border-radius: 4px;
    background: rgb(255, 147, 143);
    text-decoration: none;
    color: rgb(17, 17, 17);
    text-align: center;
}

.signout-button:hover{
    cursor: pointer;
    background: rgb(134, 83, 83);
}

nav a{
    text-decoration: none;
    color: #ccc;
}