header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #09423f;
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 1rem 2rem;
}

#logo-header{
    width: 3rem;
}

#username{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

nav{
    background: #0f746e;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1050px)
{
    nav{
        flex-direction: column;
    }
}

.login-button{
    padding: 0.4rem 1rem;
    border-radius: 4px;
    background: rgb(143, 251, 255);
    text-decoration: none;
    color: rgb(17, 17, 17);
    text-align: center;
}

.login-button:hover{
    cursor: pointer;
    background: rgb(83, 133, 134);
}

.signout-button{
    padding: 0.4rem 1rem;
    border-radius: 4px;
    background: rgb(255, 147, 143);
    text-decoration: none;
    color: rgb(17, 17, 17);
    text-align: center;
}

.signout-button:hover{
    cursor: pointer;
    background: rgb(134, 83, 83);
}